@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

ul.pagination {
    position: relative;
    
    display: flex;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

    ul.pagination li.pagination_li {
        list-style: none;
        line-height: 50px;
        margin: 0 5px;
    }

    ul.pagination li.pageNumber {
        width: 50px;
        height: 50px;
        text-align: center;
    }

    ul.pagination li.pagination_li a.pagination_a {
        display: block;
        text-decoration: none;
        color: #777;
        font-weight: 600;
        border-radius: 50%;
    }

    ul.pagination li.pageNumber:hover a.pagination_a,
    ul.pagination li.pageNumber.active a.pagination_a {
        background: #333;
        color: #fff;
    }

    ul.pagination li.pagination_li:first-child {
        width: 50px;
        height: 50px;
        text-align: center;
    }

    ul.pagination li.pagination_li:last-child {
        width: 50px;
        height: 50px;
        text-align: center;
    }
