@using Course.Shared;
@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<if (Model is not null)
    {
      <h2>Films</h2>
      <div id="product-columns">
        <ul>
          @foreach (ProgrammingCourse p in @Model.Courses )
          {
            <li>
              <a asp-controller="Home"
             asp-action="GetCourse"
             asp-route-id="@p.CourseId">
             
                @p.CourseName
              </a>
            </li>
          }
        </ul>
      </div>
    }
